<% include ../partials/header %> 

<div>
  <form action="/rsvp/<%= rsvp._id %>?_method=PUT" method="POST">
    <div>
      <label>Name</label>
      <div>
        <inputtype="text" name="rsvp[name]" value="<%= rsvp.name %>">
      </div>
    </div>
    <div>
      <label>Email</label>
      <div>
        <inputtype="email" name="rsvp[email]" value="<%= rsvp.email %>">
      </div>
    </div>
    
    <div>
        <label>Attendance</label>
        <div>
          <select name="rsvp[attending]">
            <option value="Attending">I'll be there!</option>
            <option value="Evening only">Evening Only</option>
            <option value="Not attending">Sorry, I can't make it!</option>
          </select>
        </div>
    </div>
    
    <div>
      <label>Dietary Requirements</label>
      <div>
        <input type="text" name="rsvp[diet]" value="<%= rsvp.diet %>">
      </div>
    </div>
    
    <div>
      <label>Song Requests</label>
      <div>
        <input type="text" name="rsvp[song]" value="<%= rsvp.song %>">
      </div>
    </div>
    
    <div>
      <div>
        <div><input type="submit" value="Send"/></div>
      </div>
    </div>
  </form>
  <a href="/rsvp">Go back!</a>
</div>

<% include ../partials/footer %> 
